@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Satisfy&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    height: 355vh;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    
    
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    -webkit-text-fill-color:transparent;
    background: linear-gradient(20deg, #A12626, #550BEC);
    -webkit-background-clip: text;
    -webkit-space:nowrap;
}

/*====================navabar=================*/

header.rolagem {
    background: #000000d4;
    padding: 25px 0% 0% 0%;
    transition: 1s;
}

header{
    width: 100%;
    padding: 60px 0% 4% 0px;
    position: fixed;
    top: 0;
    z-index: 997;
    left: 0;
    transition: 1s;

    
    .container{
        max-width: 1200px;
        margin:auto
    }

    #logo{
        height: 37px;
    }

    div#div-header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    

    ul{
        list-style-type: none;
        margin-bottom: 0;
        line-height: 40px;
        display: flex;
    }

    ul li{
        display: inline;
        margin: 0 15px;
    }

    ul li a{
        color: white!important;
        text-decoration: none;
        padding: 0px 25px 5px 0!important;
        position: relative;
        font-size: 13pt!important;
        cursor: pointer;
    }

    /*===================Borda animada=======================*/
    ul li a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background:linear-gradient(315deg, #A12626, #550BEC);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}
    ul li a:hover::after{ 
    width: 100%;
}

    a:hover {
        color: white !important;
    }

    button.btn {
        background: linear-gradient(20deg, #A12626, #550BEC);
        color: white;
        border: none;
        transition: 1s;
        padding: 5px 35px;
    }

    i.bi-cart3 {
        -webkit-text-fill-color:transparent;
        background: linear-gradient(20deg, #A12626, #550BEC);
        -webkit-background-clip: text;
        -webkit-space:nowrap;
        font-size: 2.1rem;
    }

    .cont-icon {
        border-radius: 50px;
        position: absolute;
        background-color: white;
        color: black;
        right: 120px;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        transform: translateY(24px);
    }

    button.btn:hover, button.btn:focus{
        background: linear-gradient(20deg, #A12626, #550BEC);
        color: white;
        border: none;
        transform: scale(1.1);
    }
}



/*===============Imagagem Fundo===============*/
.image-fundo{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
    height: 100vh;
    
}

.opacidade{
    background: black;
    height: 100vh;
    opacity: 0.9;
}

#image-fundo{
    padding-left: 9%;
    height: 100vh;
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(200px);
        height: 50vh;
    }
}

/*===============Animate text===============*/
.wrapper h1{
  
    animation: MoveBottom 1.5s ease-out;
   
  }

  @keyframes MoveBottom{
    0%{
      opacity: 0;
      /*transform: translateY(60px);*/
      transform: translate3d(0, 100%, 0);
    }
  
    100%{
      opacity: 1;
      /*transform: translate(0);*/
      transform: translateZ(0);
    }
  }







/*===============Sobre nós===============*/

section#sobre {
    height: 85vh;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .row{
        display: contents;


        p {
            font-size: 1.2rem;
            color: black;
            line-height: 30px;
            text-align: justify;
            text-indent: 50px
        }

        /*===============Card===============*/

        .card{
            position: relative;
            width: 290px;
            height: 310px;
            perspective:1000px ;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

            background-color: white;
            padding: 0;
        }

        .card-inner{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            transform-style: preserve-3d;
        }

        .card:hover  .card-inner{
            transform: rotateY(-180deg);
        }

        .card-front{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            border-radius: 2%;
            backface-visibility: hidden;
            background: linear-gradient(20deg, #A12626, #550BEC);
            display: flex;
            justify-content: center;
            align-items: center;
           
            h2{
                background: transparent;
                -webkit-text-fill-color: white;
            }
        }

        .card-back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-color: white;
            color: black;
            border-radius: 5%;
            transform: rotateY(180deg);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;


            span.text p{
                word-wrap: break-word;
                text-align: center;
                text-indent: 20px;
            }
        }
    }

    
}

/*===============Produtos===============*/
section#produtos{
    padding: 60px;
    margin-top: 85px;
    background: linear-gradient(20deg, #A12626, #550BEC);
    

    .offcanvas-body{


       .foot{
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        padding: 10px 0px;
        border-top: 1px solid #333;
       }

    }

    div#root {
        display: contents;
        width: 100%;
    }

    .card {
        display: inline-grid;
        align-items: center;
        border-radius: 25px;
        padding: 20px 30px 30px 30px;
        max-width: 300px;
        width: 100%;
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    }


    

    .img-card{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .images{
        max-width: 100%;
        max-height: 100%;
        transform: translateY(-13px);
        object-fit: cover;
        object-position: center;
    }

    .logo{
        width: 60px;
    }

    .bottom{
        margin-top: 20px;
        width: 100%;
        height: 110px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    h5{
        font-size: 20px ;
    }

    button.add{
        width:100% ;
        position: relative;
        border: none;
        border-radius: 5px;
        padding: 7px 25px;
        cursor: pointer;
        transition: 1s;
        color: white;
        background: linear-gradient(20deg, #A12626, #550BEC);
    }

    button.add:hover{
        transform: scale(1.1);
        transition: 1s;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
        border-radius: 5px;
        margin: 10px 10px;
    }

    

    .row-img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .rowimg{
        max-width: 43px;
        max-height: 43px;
        border-radius: 50px;
    }

    i.bi.bi-trash3 {
        background: linear-gradient(20deg, #A12626, #550BEC);
        width: 35px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        opacity: 0.5;
        transition: 1s;
    }

    i.bi.bi-trash3:hover{
        transform: scale(1.1);
        transition: 1s;
    }

    .bi-trash3::before {
        color: white;
        line-height: 1.7;
    }
}

/*===============Promocoes===============*/


section#promocoes {
    opacity: 0.8;
    box-shadow: 0 20px 25px #00000026;

    #ofertas {
        background: linear-gradient(-206deg, #A12626, #550BEC);
        height: 55vh;
        margin-top: 41px;
        display: flex;
        justify-content: center;
        align-items: center;


        article {
            border: 2px solid white;
            width: 80%;
            height: 45vh;
            border-radius: 10px;
            backdrop-filter: blur(500px);
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            span.hs{
                padding-left: 70px;
            }
            h3, h4 {
                -webkit-text-fill-color: white;
                font-size: 4rem;
            }

            img{
                width: 235px;
                position: absolute;
                transform: translate(-230px, 31px);
                -webkit-text-fill-color:transparent;
                background: linear-gradient(20deg, #A12626, #550BEC);
                -webkit-background-clip: text;
                -webkit-space:nowrap;
            }
        }
    }
}





section#CONTACTOS_FOOTER {
    margin-top: 100px;

    #logo {
        height: 37px;
    }
}
/*=============== Contactos===============*/ 
section#CONTACTOS_FOOTER{


    .contactos-div.container {
        background-color: white;
        margin-left: 9%;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .dados {
        display: flex;
        
    

        i{
            font-size: 25px;
            -webkit-text-fill-color:white;
            background: linear-gradient(20deg, #A12626, #550BEC);
            -webkit-space:nowrap;
            border-radius: 50px;
            transition: 1s;
            width: 44px;
            height: 44px;
            text-align: center;
            padding-top: 5px;
        
        }

        i:hover{
            transition: 1s;
            transform: scale(1.1);
        }

    }

    p{
        font-size: 13pt;
        font-weight: 600;
        line-height: 32px;
    }

    .row.gap-3.px-2 {
        display: flex;
        justify-content: center;
    }

    form{
        width: 100%;
        box-shadow:0  8px 25px #00000055;
        padding: 30px;
        background: #fff;
    }

    input.form-control {
        border-width: 10px;
        border: 1px solid;
        border-image: linear-gradient(20deg, #A12626, #550BEC) 1;
        height: 45px;
    }

    input.form-control:hover, input.form-control:focus{
        box-shadow: none;
    }

    textarea{
        border-width: 10px;
        border: 1px solid;
        border-image: linear-gradient(20deg, #A12626, #550BEC) 1;
        height: 80px;
    }

    button.btn:hover, button.btn:focus {
        background: linear-gradient(20deg, #A12626, #550BEC);
        color: white;
        border: none;
        transform: scale(1.1);
    }

    button.btn {
        background: linear-gradient(20deg, #A12626, #550BEC);
        color: white;
        border: none;
        transition: 1s;
        padding: 5px 35px;
    }

    .social-midea{
        ul{
            list-style: none;
            display: flex;
            position: relative;
            gap: 40px;

            li{
                width: 50px;
                height: 50px;
                background-color: #ffff!important;
                box-shadow: 0 8px 25px #00000055;
                border-radius: 60%;
                display:flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: .2s;


                span{
                    position: absolute;
                }

                .icon{
                    -webkit-text-fill-color:transparent;
                    background: linear-gradient(20deg, #A12626, #550BEC);
                    -webkit-background-clip: text;
                    -webkit-space:nowrap;
                    font-size: 1.5rem;
                    transition: .2s;
                }


                .text{
                    color: white;
                    font-size: 18px;
                    transform: scale(0);
                    transition: .2s;
                    transition-delay: .1s;
                }
            }

            li:hover{
                height: 50px;
                width: 180px;
                border-radius: 10%;
            }

            li:hover .text{
                transform: scale(1);

            }

            li:hover .icon{
                transform: scale(0);
            }
          

           li::before{
                content: " ";
                position: absolute;
                background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
                inset: 0;
                opacity: 0;
                border-radius: 10px;
           }

           li:hover::before{
            opacity: 1;
           }
        }
    }

    

  
}


footer {
    margin-top: 100px;
    box-shadow: 0 -21px 25px #00000026;
    padding: 15px 0px 0px 40px;

    small p{
        -webkit-text-fill-color:transparent;
        background: linear-gradient(20deg, #A12626, #550BEC);
        -webkit-background-clip: text;
        -webkit-space:nowrap;
        margin: 0px 9px;
    }
}


 /**************** For mobile phones: *********************/
 @media only screen and (max-width: 480px) {


    #navbar-dropdow.open{
        display: block!important;
    }

    header {
        width: 100%;
        padding: 40px 0% 4% 15px;
    } 

    header.rolagem {
        background: #0000009c;
        padding: 10px 0% 0% 0%;
        transition: 1s;
    }

    header{

        div.logo{
            width: 40% !important;

            h1{
                font-size: 2rem!important;
            }

            #logo {
                height: 26px;
            }
        }

        div#div-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            
        .navbar{
            display: none;
        }


        .toogle-btn i{
            color: white;
            font-size: 2rem;
        }

        #navbar-dropdow {
            display: none;
            position: absolute;
            right: 10px;
            padding: 30px;
            background-color: transparent;
            text-align: left;
            top: 120px;
            backdrop-filter: blur(170px);
            opacity: 0.9;
            border-radius: 15px;
            transition: 1s;
        

            ul{
                flex-direction: column;
                padding: 0;
            }

            ul li{
                display: grid;
                margin: 0 15px;


                a{
                    color: white!important;
                }
            }

            button.btn {
                margin-top: 16px;
            }

           
            
        }
    }




    .cont-icon {
        right: 100px!important;
        width: 25px!important;
        height: 25px!important;
        line-height: 25px!important;
        transform: translateY(29px)!important;
    }

    section#sobre {
       height: auto!important;
       margin-top: 30px;
    }
    section#produtos {
        top: 400%;
    }


    section#promocoes {
        margin-top: 85px;
        height: auto;
        opacity: 1;
        box-shadow: 0 20px 25px #00000057;


        #img-promocao .col-md-6{
            padding: 0!important;


            img.d-block {
                width: 100%;
            }
        }

        #ofertas {
            article {
                border: 2px solid white;
                width: 80%;
                height: 50vh;
                border-radius: 10px;
                backdrop-filter: blur(500px);
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    -webkit-text-fill-color: white;
                    font-size: 2.5rem!important;
                }

                span.hs {
                    padding-left: 19px;
                }


              
                img {
                    width: 140px;
                    position: absolute;
                    transform: translate(-140px, 87px);
                    -webkit-text-fill-color: transparent;
                    background: linear-gradient(20deg, #A12626, #550BEC);
                    -webkit-background-clip: text;
                    -webkit-space: nowrap;
                }
            }
            
        }
            
    }


  

    footer {
       
        box-shadow: 0 -21px 25px #00000026;
        padding: 15px 0px 0px 40px;
    }
}


 /**************** For tablet: *********************/
 @media only screen and (min-width: 481px) and (max-width: 1024px){

  #navbar-dropdow.open{
        display: block!important;
    }

    .toogle-btn.d-block.d-md-none {
        display: block !important;
    }

    header {
        width: 100%;
        padding: 40px 0% 4% 15px;
    } 

    header.rolagem {
        background: #0000009c;
        padding: 10px 0% 0% 0%;
        transition: 1s;
    }

    header{

        div.logo{
            width: 40% !important;

            h1{
                font-size: 2rem!important;
            }

            #logo {
                height: 26px;
            }
        }

        div#div-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            
        .navbar{
            display: none;
        }


        .toogle-btn i{
            color: white;
            font-size: 2rem;
        }

        #navbar-dropdow {
            display: none;
            position: absolute;
            right: 10px;
            padding: 30px;
            background-color: transparent;
            text-align: left;
            top: 120px;
            backdrop-filter: blur(170px);
            opacity: 0.9;
            border-radius: 15px;
            transition: 1s;
        

            ul{
                flex-direction: column;
                padding: 0;
            }

            ul li{
                display: grid;
                margin: 0 15px;


                a{
                    color: white!important;
                }
            }

            button.btn {
                margin-top: 16px;
            }

           
            
        }
    }




    .cont-icon {
        right: 100px!important;
        width: 25px!important;
        height: 25px!important;
        line-height: 25px!important;
        transform: translateY(29px)!important;
    }

    section#sobre {
       height: auto!important;
       margin-top: 30px;
    }
    section#produtos {
        top: 400%;
    }


    section#promocoes {
        margin-top: 85px;
        height: auto;
        opacity: 1;
        box-shadow: 0 20px 25px #00000057;


        #img-promocao .col-md-6{
            padding: 0!important;


            img.d-block {
                width: 100%;
            }
        }

        .col-md-6 {
            width: 100%;
        }
        
        #ofertas {
            article {
                border: 2px solid white;
                width: 80%;
                height: 50vh;
                border-radius: 10px;
                backdrop-filter: blur(500px);
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    -webkit-text-fill-color: white;
                    font-size: 2.5rem!important;
                }

                span.hs {
                    padding-left: 19px;
                }


              
                img {
                    width: 140px;
                    position: absolute;
                    transform: translate(-140px, 87px);
                    -webkit-text-fill-color: transparent;
                    background: linear-gradient(20deg, #A12626, #550BEC);
                    -webkit-background-clip: text;
                    -webkit-space: nowrap;
                }
            }
            
        }
            
    }

    div#redes {
        width: 100%;
    }
  
    .col-md-4{
        width: 100%;
        margin-top: 70px;
    }
    footer {
       
        box-shadow: 0 -21px 25px #00000026;
        padding: 15px 0px 0px 40px;
    }

 }